@import "../../styles/mixins";
@import "../../styles/variables";
.wrapper {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.main {
    margin-top: $height-header;
    @include sm {
        margin-top: $height-header-sm;
    }
}
