@import "./mixins";
@import "./variables";
@import "./reset";
/**
 * Global app/site styles
 * =================================
 */

body {
  background-color: $bg-light;
  font-family: $font-family-base;
  line-height: $leading-base;
  color: $text-black;
}
html {
  font-size: $font-size-base-narrow-px;
  -webkit-text-size-adjust: 100%;

  @include md {
    font-size: $font-size-base-px;
  }
}

/**
 * Paragraphs
 */
p {
  font-family: $font-family-base;
  margin-top: 0;
  margin-bottom: 10px;

  // Measure - ideally about 65 chars per line
  // max-width: #{type(base) * 30}px;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-family-headings;
  font-weight: $font-weight-headings;
  line-height: $line-height-headings;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  margin-top: 0;
  margin-bottom: 10px;
  small {
    font-weight: normal;
  }
}

// Only give these headings a margin-top if they are after other elements
* + h1,
* + .h1,
* + .alpha,
* + h2,
* + .h2,
* + .beta,
* + h3,
* + .h3,
* + .gamma,
* + h4,
* + .h4,
* + .delta {
  margin-top: 10px;
}

/**
 * Default layout container
 */

.container {
  width: 90%;
  max-width: #{$layout-max-width}px;
  margin: 0 auto;
  height: 100%;
}
.text-orange {
  color: $text-orange;
  font-weight: 800;
}
.bg-img-fixed {
  background-attachment: fixed;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.typing-animation {
  color: $text-orange;
}
.center-self {
  justify-self: center;
}
.align-center {
  @include flex(center, center);
}

.img-item {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hover-zoom {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
//Animation
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spinning;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
.spin-reverse {
  animation-name: spinning;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}
