@import "../../styles/variables";
@import "../../styles/mixins";
.footer {
    padding: 50px 0;
    background: $bg-dark;
    text-align: center;
    color: $text-white;
}
.logo {
    margin-bottom: 20px;
}
.svg {
    width: 200px;
    height: 60px;
}
.info {
    margin-bottom: 20px;
    @include flex(center, center);
    flex-direction: column;
    gap: 15px;
}
.infoItem {
    cursor: pointer;
    @include flex(center, center);
    gap: 10px;
    svg {
        font-size: 20px;
        color: $text-orange;
    }
}
.line {
    width: 80%;
    height: 1px;
    background: $text-white;
    margin: 20px auto;
    opacity: 0.5;
}
