@import "../../styles/mixins";
@import "../../styles/variables";

.grid {
    display: grid;
    align-items: center;
    height: 100%;
    border-radius: $borderRadius;
    justify-items: center;
    &__item {
        @include flex(flex-start, center);
        flex-direction: column;
    }
}
@each $var in $numbers {
    .gridCol-#{$var} {
        grid-template-columns: repeat($var, 1fr);
    }
}
@each $var in $numbers {
    .gridCol-md-#{$var} {
        @include lg {
            grid-template-columns: repeat($var, 1fr);
        }
    }
}
@each $var in $numbers {
    .gridCol-sm-#{$var} {
        @include sm {
            grid-template-columns: repeat($var, 1fr);
        }
    }
}
